<div class="container">
  <h1>Home</h1>
  <p>Welcome <%= @user.username %></p>

  <div id="home-links" class="mb-3">
    <%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %>
    <%= link_to 'Find Friends', new_user_friendship_path(current_user.id), class: 'btn btn-primary' %>
  </div>

  <div id="home-friendships">
    <h2>Friendships</h2>
    <ul class="list-group">
      <% if @friendships.present? %>
        <% @friendships.each do |friendship| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <% if friendship.user1 == current_user %>
              <%= friendship.user2.username %>
            <% else %>
              <%= friendship.user1.username %>
            <% end %>
            <% if friendship.status == 'pending' && friendship.user2 == current_user %>
              <div>
                <%= link_to 'Accept', friendship_path(friendship), data: {turbo_method: :patch}, class: 'btn btn-primary' %>
                <%= link_to 'Refuse', friendship_path(friendship), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to refuse this friendship?"}, class: 'btn btn-danger' %>
              </div>
            <% elsif friendship.status == 'pending' && friendship.user1 == current_user %>
              <div>
                <%= link_to 'Cancel Request', friendship_path(friendship), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to cancel this friendship request?"}, class: 'btn btn-danger' %>
              </div>
            <% elsif friendship.status == 'accepted' %>
              <%= link_to friendship_path(friendship), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to end this friendship?"},
                  class: "ms-2 align-content-center" do %>
                <i class="c fa-solid fa-trash text-danger"></i>
              <% end %>
            <% end %>
            <span class="badge rounded-pill
              <% if friendship.status == 'pending' %>
                bg-warning
              <% else friendship.status == 'accepted' %>
                bg-success
              <% end %>
            text-bg-primary
            "><%= friendship.status %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if @games.any? %>
    <div id="home-games">
      <h2>Games</h2>
      <ul class="list-group">
        <% @games.each do |game| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= game.name %>
            <div>
              <%= link_to game_path(game), class: 'btn btn-primary' do %>
                <i class="c fa-solid
                  <% if game.player_count == 2 %>
                    fa-user
                  <% else game.player_count > 2 %>
                    fa-users
                  <% end %>
                "></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
