<div class="container">
  <h1><%= @game.name %></h1>
  <p><%= @game.player_count %> Player</p>
  <div id="game-show-player-list">
    <% if @game.user == current_user %>
      <% if @game.user == current_user %>
        <%= link_to 'Start', start_path(), data: {turbo_method: :patch}, class: 'btn btn-success' %>
      <% end %>
      <%= link_to 'Delete Game', game_path(@game), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this game?"}, class: "btn btn-danger" %>
      <ul class="list-group">
        <% @players.each_with_index do |player, index| %>
          <% if player.id %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Player <%= index + 1 %>: <%= player.user.username %>
              <div>
                <%= link_to 'remove player', player_path(player), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to remove this player?"}, class: 'btn btn-danger' %>
              </div>
              <span class="badge rounded-pill
                <% if player.status == 'pending' %>
                  bg-warning
                <% else player.status == 'accepted' %>
                  bg-success
                <% end %>
              text-bg-primary
              "><%= player.status %></span>
            </li>
          <% else %>
            <%= simple_form_for [@game, player] do |f| %>
              <%= f.hidden_field :player_id, value: index + 1 %>
              <%= f.input :user, label: false, collection: @users, label_method: :username, value_method: :id, prompt: "Select Player #{index + 1}" %>
              <%= f.button :submit, "Assign Player #{index + 1}", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <ul class="list-group">
        <% @players.each_with_index do |player, index| %>
          <% if player.id %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Player <%= index + 1 %>: <%= player.user.username %>
              <div>
                <% if player.user == current_user && player.status == 'pending' %>
                  <%= link_to 'Accept', player_path(player), data: {turbo_method: :patch}, class: 'btn btn-primary' %>
                  <%= link_to 'Reject', player_path(player), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to exit this game?"}, class: 'btn btn-danger' %>
                <% end %>
                <% if player.user == current_user && player.status == 'accepted' %>
                  <%= link_to 'Exit', player_path(player), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to exit this game?"}, class: 'btn btn-danger' %>
                <% end %>
              </div>
              <span class="badge rounded-pill
                <% if player.status == 'pending' %>
                  bg-warning
                <% else player.status == 'accepted' %>
                  bg-success
                <% end %>
              text-bg-primary
              "><%= player.status %></span>
            </li>
          <% else %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p>
                Player <%= index + 1 %>: Has to be assigned by the game owner <%= @game.user.username %>.
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
